@import './slide.css';
@import './swiper.css';

.slider {
    position: relative;
    padding: 95px 80px 180px 80px;
}

.slider__star-one {
    width: 129px;
    height: 113px;
    position: absolute;
    top: 0;
    left: 60%;
}

.slider__blur-circle {
    position: absolute;
    top: 75%;
    right: 0;
    width: 347px;
    height: 347px;
    background: radial-gradient(30.86% 30.86% at 50.23% 50%, #96CDFF 0%, rgba(150, 205, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.slider__title {
    font-size: 50px;
    font-weight: 600;
    color: var(--blue);
}

.slider__title-two {
    padding-top: 71px;
    font-size: 45px;
    font-weight: 500;
    color: var(--dark-blue);
}

.slider__wrapper {
    position: relative;
    padding: 45px 90px 0 90px;
}

.slider__button {
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
    border: 5px solid var(--blue);
    background-color: #fff;
    transition: all .12s ease-out;
    transform: translateY(-50%);
}

.slider__button:hover {
    background-color: var(--blue);
}

.slider__button:hover .slider__arrow > path {
    fill: #fff;
}

.slider__arrow {
    width: 42px;
    height: 47px;
}

.slider__arrow-to-left {
    transform: translateX(-10%);
}

.slider__arrow-to-right {
    transform: translateX(10%);
}

@media (min-width: 2000px) {
    .slider {
        margin: 0 auto;
        max-width: 2000px;
        overflow: hidden;
    }
}

@media (max-width: 1700px) {
    .slider__wrapper {
        padding: 45px 70px 0 70px;
    }
    
    .slider__button {
        width: 70px !important;
        height: 70px !important;
    }

    .slider__arrow {
        width: 32px;
        height: 36px;
    }

    .slider__title-two {
        padding-top: 42px;
    }
}

@media (max-width: 1500px) {
    .slider {
        padding: 95px 67px 180px 67px;
    }

    .slider__title {
        font-size: 32px;
    }
    
    .slider__title-two {
        padding-top: 46px;
        font-size: 30px;
    }
}

@media (max-width: 1300px) {
    .slider {
        padding: 95px 52px 180px 52px;
    }

    .slider__title {
        font-size: 28px;
    }
    
    .slider__title-two {
        padding-top: 42px;
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .slider {
        padding: 0 0 60px 0;
    }

    .slider__star-one {
        position: absolute;
        top: auto;
        left: auto;
        bottom: 0;
        right: -25px;
        width: 61px;
        height: 56px;
    }

    .slider__blur-circle {
        display:  none;
    }

    .slider__wrapper {
        padding: 51px 0 0 0;
    }

    .slider__title {
        padding: 0 21px;
        font-size: 24px;
    }

    .slider__title-two {
        padding: 23px 21px 0 21px;
        font-size: 18px;
    }
}

@media (max-width: 300px) {
    .slider__title {
        padding: 0 11px;
        font-size: 20px;
    }

    .slider__title-two {
        padding: 23px 11px 0 11px;
        font-size: 16px;
    }
}