.slide {
    max-width: 488px;
    max-height: 637px;
}

.slide__wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 130%;
}

.slide__content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px 40px 42px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
    border-radius: 100px;
    white-space: nowrap;
}

.slide__image-wrapper {
    width: 152px;
    height: 96px;
}

.slide__name-text {
    font-weight: 500;
    font-size: 34px;
    color: var(--dark-blue);
}

.slide__text {
    font-size: 30px;
    color: var(--dark-blue);
    text-align: center;
}

.slide__button {
    width: 333px;
    height: 69px;
}

@media (max-width: 1850px) {
    .slide__name-text {
        font-size: 32px;
    }
    
    .slide__text {
        font-size: 28px;
    }
}

@media (max-width: 1700px) {
    .slide__content {
        border-radius: 90px;
    }

    .slide__image-wrapper {
        width: 132px;
        height: 84px;
    }

    .slide__name-text {
        font-size: 28px;
    }
    
    .slide__text {
        font-size: 24px;
    }

    .slide__button {
        width: 260px;
        height: 54px;
    }
}

@media (max-width: 1500px) {
    .slide__content {
        border-radius: 80px;
    }
}

@media (max-width: 1300px) {
    .slide__image-wrapper {
        width: 100px;
        height: 64px;
    }

    .slide__name-text {
        font-size: 24px;
    }
    
    .slide__text {
        font-size: 20px;
    }

    .slide__button {
        width: 200px;
        height: 41px;
    }
}

@media (max-width: 1070px) {
    .slide__text {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .slide {
        max-width: 307px;
        max-height: 400px;
    }
}

@media (max-width: 768px) {
    .slide {
        max-width: 100%;
        max-height: 290px;
    }

    .slide__wrapper {
        padding-bottom: 0;
    }
    
    .slide__content {
        position: relative;
        padding: 16px 0;
        border-radius: 60px;
        width: 249px;
        height: 290px;
        margin: auto;
    }

    .slide__image-wrapper {
        width: 50px;
        height: 50px;
    }

    .slide__image-vacuum-cleaner {
        width: 58px;
        height: 43px;
    }

    .slide__name-text {
        font-size: 18px;
    }
    
    .slide__text {
        font-size: 16px;
    }

    .slide__button {
        width: 129px;
        height: 35px;
    }
}

@media (max-width: 300px) {
    .slide__text {
        font-size: 14px;
    }
}