@import './slide.css';
@import './swiper.css';

.slider {
    position: relative;
    padding: 95px 80px 180px 80px;
}

.slider__star-one {
    position: absolute;
    top: 0;
    left: 60%;
}

.slider__blur-circle {
    position: absolute;
    top: 75%;
    right: 0;
    width: 347px;
    height: 347px;
    background: radial-gradient(30.86% 30.86% at 50.23% 50%, #96CDFF 0%, rgba(150, 205, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.slider__title {
    font-size: calc(24px + 26 * (100vw / 2000));
    font-weight: 600;
    color: var(--blue);
}

.slider__title-two {
    padding-top: 71px;
    font-size: calc(18px + 27 * (100vw / 2000));
    font-weight: 500;
    color: var(--dark-blue);
}

.slider__wrapper {
    position: relative;
    padding: 45px 90px 0 90px;
}

.slider__button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--blue);
    background-color: #fff;
    transition: all .12s ease-out;
    transform: translateY(-50%);
}

.slider__button:hover {
    background-color: var(--blue);
}

.slider__button:hover .slider__arrow > path {
    fill: #fff;
}

.slider__arrow {
    width: 42px;
    height: 47px;
}

.slider__arrow-to-left {
    transform: translateX(-10%);
}

.slider__arrow-to-right {
    transform: translateX(10%);
}

@media (max-width: 767px) {
    .slider__title {
        font-size: calc(24px + (26 + 26 * 0.7) * ((100vw - 375px) / 2000));
    }

    .slider__title-two {
        font-size: calc(18px + (27 + 27 * 0.7) * ((100vw - 375px) / 2000));
    }
}