.swiper-button-prev {
    left: 0;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-next::after {
    display: none;
}

.swiper {
    height: 788px;
}

.swiper-pagination-horizontal {
    width: auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.swiper-pagination-bullet {
    width: 30px !important;
    height: 30px !important;
    background-color: #fff !important;
    border: 5px solid #329afa;
}

.swiper-pagination-bullet:not(:first-child) {
    margin-left: 93px !important;
}

.swiper-pagination-bullet:hover {
    background: rgba(48, 149, 242, 0.5) !important;
    border: none;
}

.swiper-pagination-bullet-active {
    background-color: #3095F2 !important;
    border: none;
}

.swiper-slide .slide__wrapper {
    filter: blur(4px);
    user-select: none;
}

.swiper-slide .slide__button {
    pointer-events: none;
}

.swiper-slide-active .slide__wrapper {
    filter: blur(0);
    user-select: auto;
}

.swiper-slide-active .slide__button {
    pointer-events: all;
}

@media (max-width: 1850px) {
    .swiper {
        height: 688px;
    }
}

@media (max-width: 1700px) {
    .swiper-pagination-bullet:not(:first-child) {
        margin-left: 73px !important;
    }
}

@media (max-width: 1500px) {
    .swiper {
        height: 568px;
    }

    .swiper-pagination-bullet {
        width: 25px !important;
        height: 25px !important;
    }

    .swiper-pagination-bullet:not(:first-child) {
        margin-left: 63px !important;
    }
}

@media (max-width: 1300px) {
    .swiper {
        height: 490px;
    }

    .swiper-pagination-bullet {
        width: 20px !important;
        height: 20px !important;
    }

    .swiper-pagination-bullet:not(:first-child) {
        margin-left: 43px !important;
    }
}

@media (max-width: 768px) {
    .swiper-pagination-bullet {
        width: 15px !important;
        height: 15px !important;
        border: 1px solid #329afa;
    }

    .swiper-pagination-bullet:not(:first-child) {
        margin-left: 49px !important;
    }
}

@media (max-width: 768px) {
    .swiper {
        height: 365px;
    }

    .swiper-pagination-horizontal {
        bottom: 0 !important;
    }

    .swiper-button-prev {
        display: none !important;
    }
    
    .swiper-button-next {
        display: none !important;
    }
}

@media (max-width: 300px) {
    .swiper-pagination-bullet:not(:first-child) {
        margin-left: 39px !important;
    }
}