.info {
    position: relative;
    padding-top: 96px;
    padding-left: 80px;
    display: flex;
}

.info__column {
    width: 31%;
    height: 562px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__title {
    position: relative;
    font-size: 50px;
    font-weight: 600;
    line-height: 36px;
    color: var(--blue);
}

.info__pre-text {
    position: relative;
    padding-top: 4px;
    font-size: 45px;
    font-weight: 500;
    color: var(--dark-blue);
}

.info__text {
    color: var(--dark-blue);
    font-size: 30px;
}

.info__text-company {
    color: var(--blue);
}

/*//////////////////////////////////////////////////////*/

.info__arrow {
    position: relative;
    width: 20%;
    max-width: 383px;
}

.info__star-one {
    width: 129px;
    height: 113px;
    position: absolute;
    top: -17%;
    left: 50%;
    transform: translateX(-50%);
}

.info__arrow-dashed-outer {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    padding-right: 32px;
}

.info__arrow-dashed-wrapper {
    position: relative;
    width: 100%;
    height: 187px;
}

.info__arrow-dashed-inner {
    position: absolute;
    width: 100%;
    padding-bottom: 49%;
}

/*/////////////////////////////////////////////////////////*/

.info__button-wrapper {
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* /////////////////////////////////////////////////////// */

.info__glove {
    position: relative;
    width: 35%;
}

.info__glove-aqua-outer {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.info__glove-aqua-wrapper {
    flex: 1;
    position: relative;
    margin-left: 69px;
    max-width: 580px;
    height: 394px;
}

.info__glove-aqua {
    position: absolute;
    width: 100%;
}

.info__star-two {
    width: 129px;
    height: 113px;
    position: absolute;
    top: 10%;
    right: -50px;
}

.info__glove-aqua-mobile {
    display: none;
}

.info__star-mobile {
    display: none;
}

@media (min-width: 2000px) {
    .info {
        margin: 0 auto;
        max-width: 2000px;
        overflow: hidden;
    }
}

@media (max-width: 1700px) {
    .info__column {
        height: 512px;
    }
}

@media (max-width: 1500px) {
    .info {
        padding-left: 67px;
    }

    .info__column {
        height: 422px;
    }

    .info__title {
        font-size: 32px;
    }

    .info__pre-text {
        font-size: 30px;
    }
    
    .info__text {
        font-size: 24px;
    }
}

@media (max-width: 1300px) {
    .info {
        padding-left: 52px;
    }

    .info__column {
        height: 362px;
    }

    .info__title {
        font-size: 28px;
    }

    .info__pre-text {
        font-size: 26px;
    }
    
    .info__text {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .info {
        padding-left: 21px;
        padding-top: 57px;
        padding-bottom: 190px;
        flex-direction: column;
    }

    .info__column {
        height: 254px;  
        width: auto;
    }

    .info__title {
        font-size: 24px;
    }

    .info__pre-text {
        font-size: 18px;
    }
    
    .info__text {
        font-size: 16px;
    }

    .info__arrow {
        display: none;
    }

    .info__button-wrapper {
        width: auto;
        margin-top: 25px;
        justify-content: flex-start;
    }

    .info__glove {
        display: none;
    }

    .info__glove-aqua-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        right: -95px;
        width: 300px;
        height: 204px;
        transform: rotate(25deg);
    }

    .info__star-mobile {
        display: block;
        width: 61px;
        height: 56px;
        position: absolute;
        top: 11%;
        right: 16%;
    }
}

@media (max-width: 300px) {
    .info {
        padding-left: 11px;
    }

    .info__title {
        font-size: 20px;
    }

    .info__pre-text {
        font-size: 16px;
    }
    
    .info__text {
        font-size: 13px;
    }

    .info__glove-aqua-mobile {
        width: 290px;
        height: 197px;
    }
}