{
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-unused-vars": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "semi": "off",
    "indent": "off",
    "linebreak-style": "off",
    "no-undef": "off",
    "eol-last": "off",
    "require-jsdoc": "off",
    "prefer-const": "off",
    "max-len": "off",
    "no-useless-escape": "off"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "google"]
}