@import '../_variables.css';
@import '../components/button-oval.css';
@import '../components/push-button.css';
@import '../components/burger-button.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

._lock {
    overflow: hidden;
}

a {
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

button {
    cursor: pointer;
    border: solid transparent;
    outline: none;
    background-color: transparent;
    user-select: none;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

.layout__header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

.layout__main {
    overflow: hidden;
}

.layout__footer {
    background-color: var(--light-blue);
}

@media (max-width: 768px) {
    .layout__footer {
        overflow: hidden;
        background-color: #fff;
    }
}