.employment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employment__text {
    margin-top: 148px;
    font-size: 45px;
    font-weight: 600;
    color: var(--dark-blue);
    text-align: center;
}

.employment__text-dreamjob {
    color: var(--blue);
}

.employment__button-wrapper {
    margin: 80px 0 146px 0;
}

.employment__button {
    width: 333px;
    height: 69px;
}

.employment__button-text {
    font-size: 34px;
    font-weight: 600;
}