.intro-column {
    white-space: nowrap;
}

.intro-column__title {
    margin-top: 113px;
    font-size: calc(24px + 26 * (100vw / 2000));
    font-weight: 600;
    line-height: 72px;
    color: var(--dark-blue);
}

.intro-column__title-part {
    color: var(--blue);
}

.intro-column__info {
    margin-top: 71px;
    display: flex;
    align-items: center;
}

.intro-column__info-svg-wrapper {
    margin-right: 59px;
}

.intro-column__info-text {
    font-size: calc(16px + 14 * (100vw / 2000));
    line-height: 43px;
    color: var(--dark-blue);
}

.intro-column__buttons {
    margin-top: 71px;
    display: flex;
    align-items: center;
}

.intro-column__mail {
    margin-top: 79px;
    padding-bottom: 60px;
}

.intro-column__mail-text {
    font-size: calc(18px + 16 * (100vw / 2000));
    line-height: 25px;
    font-weight: 500;
    color: var(--dark-blue);
}

@media (max-width: 767px) {
    .intro-column__title {
        font-size: calc(24px + (26 + 26 * 0.7) * ((100vw - 375px) / 2000));
    }

    .intro-column__info-text {
        font-size: calc(16px + (14 + 14 * 0.7) * ((100vw - 375px) / 2000));
    }

    .intro-column__mail-text {
        font-size: calc(18px + (16 + 16 * 0.7) * ((100vw - 375px) / 2000));
    }
}