@import './intro-column.css';
@import './intro-images.css';

.intro {
    position: relative;
    display: flex;
    padding-left: 80px;
}

.intro__column {
    padding-top: 131px;
}

.intro__images {
    position: relative;
    width: 100%;
}