.intro-images__big-blue-circle-wrapper {
    position: absolute;
    top: -79%;
    left: 14%;
    z-index: 0;
    width: 1363px;
    height: 1305px;
}

.intro-images__big-blue-circle {
    width: 100%;
    height: 100%;
}

.intro-images__soap-bubble-big {
    position: absolute;
    top: 48%;
    left: 76%;
    z-index: 1;
    width: 404px;
    height: 425px;
}

.intro-images__soap-bubble-medium {
    position: absolute;
    top: 15%;
    left: 57%;
    z-index: 1;
    width: 293px;
    height: 289px;
}

.intro-images__soap-bubble-small {
    position: absolute;
    top: -13%;
    left: 81%;
    z-index: 1;
    width: 276px;
    height: 280px;
}

.intro-images__blue-puddle {
    position: absolute;
    top: 27%;
    left: 5%;
    z-index: 0;
    width: 572px;
    height: 485px;
}

.intro-images__push-button {
    display: block;
    position: absolute;
    top: 77%;
    left: 33%;
    z-index: 10;
    border-radius: 50%;
}

.intro-images__woman {
    position: absolute;
    top: 15%;
    left: 14%;
}