.intro-column {
    white-space: nowrap;
}

.intro-column__title {
    padding-top: 113px;
    font-size: 50px;
    font-weight: 600;
    color: var(--dark-blue);
}

.intro-column__title-part {
    color: var(--blue);
}

.intro-column__info {
    display: flex;
    align-items: center;
}

.intro-column__info-svg-wrapper {
    margin-right: 59px;
    transition: margin-right .5s;
}

.intro-column__info-svg {
    width: 44px;
    height: 48px;
}

.intro-column__info-text {
    font-size: 30px;
    color: var(--dark-blue);
}

.intro-column__buttons {
    display: flex;
    align-items: center;
}

.intro-column__mail {
    padding: 7px 0 60px 0;
}

.intro-column__mail-text {
    font-size: 34px;
    font-weight: 500;
    color: var(--dark-blue);
}

@media (max-width: 1700px) {
    .intro-column__title {
        padding-top: 93px;
    }
}

@media (max-width: 1500px) {
    .intro-column__title {
        font-size: 32px;
        padding-top: 83px;
    }

    .intro-column__info-text {
        font-size: 24px;
    }

    .intro-column__mail-text {
        font-size: 28px;
    }

    .intro-column__info-svg-wrapper {
        margin-right: 45px;
    }
}

@media (max-width: 1300px) {
    .intro-column__title {
        font-size: 28px;
        padding-top: 53px;
    }

    .intro-column__info-text {
        font-size: 20px;
    }

    .intro-column__mail-text {
        font-size: 24px;
    }

    .intro-column__info-svg-wrapper {
        margin-right: 25px;
    }
}

@media (max-width: 767px) {
    .intro-column__title {
        font-size: 24px;
        padding-top: 31px;
        text-align: center;
    }

    .intro-column__info-svg-wrapper {
        margin-right: 17px;
    }

    .intro-column__info-svg {
        width: 35px;
        height: 35px;
    }

    .intro-column__info {
        margin-top: 293px;
    }

    .intro-column__info-text {
        font-size: 16px;
    }

    .intro-column__mail {
        display: none;
    }
}

@media (max-width: 300px) {
    .intro-column__title {
        font-size: 20px;
    }

    .intro-column__info-svg-wrapper {
        margin-right: 12px;
    }

    .intro-column__info-text {
        font-size: 14px;
    }
}