@import './form.css';

.feedback {
    padding: 0 80px;
    display: flex;
    align-items: stretch;
}

.feedback__info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.feedback__title {
    font-size: calc(24px + 26 * (100vw / 2000));
    line-height: 36px;
    font-weight: 600;
    color: var(--blue);
}

.feedback__question {
    padding-top: 53px;
    font-size: calc(18px + 27 * (100vw / 2000));
    font-weight: 500;
    line-height: 62px;
    color: var(--dark-blue);
}

.feedback__text {
    padding-top: 71px;
    font-size: calc(16px + 14 * (100vw / 2000));
    color: var(--dark-blue);
    white-space: nowrap;
}

@media (max-width: 767px) {
    .feedback__title {
        font-size: calc(24px + (26 + 26 * 0.7) * ((100vw - 375px) / 2000));
    }

    .feedback__question {
        font-size: calc(18px + (27 + 27 * 0.7) * ((100vw - 375px) / 2000));
    }

    .feedback__text {
        font-size: calc(16px + (14 + 14 * 0.7) * ((100vw - 375px) / 2000));
    }
}

.feedback__star-one {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}

.feedback__arrow {
    width: 100%;
    max-width: 560px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback__arrow-wrapper {
    position: relative;
    width: 100%;
    height: 429px;
}

.feedback__arrow-inner {
    position: absolute;
    width: 100%;
    padding-bottom: 86%;
}

.feedback__arrow-dashed-tip {

}

.feedback__card {
    margin: 252px 0 97px 0;
    width: 488px;
    max-height: 637px;
    border-radius: 100px;
    box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
    background: #fff;
}

.feedback__card-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 130%;
}

.feedback__form-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.feedback__form {
    height: 100%;
    padding: 37px 40px 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__star-two-wrapper {
    flex: 1;
    position: relative;
}

.feedback__star-two {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 21%;
}