.button-oval-reverse {
    width: 257px;
    height: 63px;
    border-radius: 60px;
    transition: all .12s ease-out;
    background-color: var(--blue);
    box-shadow: inset -28px -28px 54px rgba(0, 0, 0, 0.24);
    border: transparent;
}

.button-oval-reverse:active {
    transform: scale(.97);
}

.button-oval-reverse:hover {
    border: 2px solid var(--blue);
    background: transparent;
    box-shadow: none;
}

.button-oval-reverse:hover .button-oval-reverse__text {
    color: var(--dark-blue);
}

.button-oval-reverse__text {
    color: #fff;
}