.button-oval {
    background: #fff;
    width: 257px;
    height: 63px;
    border: 2px solid var(--blue);
    border-radius: 60px;
    transition: all .12s ease-out;
}

.button-oval:active {
    transform: scale(.97);
}

.button-oval:hover {
    background-color: var(--blue);
    box-shadow: inset -28px -28px 54px rgba(0, 0, 0, 0.24);
    border: transparent;
}

.button-oval__text {
    font-size: calc(18px + 16 * (100vw / 2000));
    font-weight: 500;
    color: var(--dark-blue);
}

.button-oval:hover .button-oval__text {
    color: #fff;
}

@media (max-width: 767px) {
    .button-oval__text {
        font-size: calc(18px + (16 + 16 * 0.7) * ((100vw - 375px) - 2000));
    }
}