.push-button {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: var(--blue);
    box-shadow: inset -28px -28px 54px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.push-button:hover {
    transform: scale(1.15);
}

.push-button__arrow {
    width: 38px;
    height: 48px;
}