.push-button {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: var(--blue);
    box-shadow: inset -28px -28px 54px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .12s ease-out;
}

.push-button:hover {
    transform: scale(1.15);
}

.push-button__arrow {
    width: 38px;
    height: 48px;
}

@media (max-width: 1500px) {
    .push-button {
        width: 110px;
        height: 110px;
    }

    .push-button__arrow {
        width: 34px;
        height: 44px;
    }
}

@media (max-width: 1300px) {
    .push-button {
        width: 90px;
        height: 90px;
    }

    .push-button__arrow {
        width: 28px;
        height: 36px;
    }
}