.footer {
    position: relative;
    height: 439px;
    padding-right: 333px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    padding-left: 80px;
}

.footer__contact {
    display: flex;
    align-items: center;
}

.footer__contact:not(:first-child) {
    margin-top: 69px;
}

.footer__contact-text {
    margin-left: 43px;
    font-weight: 500;
    font-size: calc(10px + 24 * (100vw / 2000));
    color: var(--dark-blue);
    white-space: nowrap;
}

@media (max-width: 767px) {
    .footer__contact-text {
        font-size: calc(10px + (24 + 24 * 0.7) * ((100vw - 375px) / 2000));
    }
}

.footer__button {
    width: 330px;
    height: 88px;
    border-width: 4px;
}

.footer__image {
    position: absolute;
    left: 91%;
    width: 293px;
    height: 287px;
}