<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="images/favicon.ico" type="image/ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>REINIGUNG</title>
</head>
<body>
    <div id='app' class='layout'>

        <div class='layout__header'>
            <header class='header'>
                <div class='header__logo'>

                </div>

                <div class='header__menu'>
                    <div class='header__nav-item'>
                        <span class='header__nav-item-text'>Über uns</span>
                    </div>
                    <div class='header__nav-item'>
                        <span class='header__nav-item-text'>Unsere Dienstleistungen</span>
                    </div>
                    <div class='header__nav-item'>
                        <span class='header__nav-item-text'>Kontakten</span>
                    </div>
                    <div class='header__nav-item-two'>
                        <div class='header__button'>
                            <span class='header__nav-item-two-text'>+ 41 76 431 57 61</span>
                        </div>
                    </div>
                    <div class='header__nav-item-two'>
                        <div class='header__languages'>
                            <div class='header__language header__language_actived'>
                                <span class='header__language-text header__language_active'>De</span>
                            </div>
                            <div class='header__languages-divider'></div>
                            <div class='header__language'>
                                <span class='header__language-text'>Fr</span>
                            </div>
                            <div class='header__languages-divider'></div>
                            <div class='header__language'>
                                <span class='header__language-text'>En</span>
                            </div>
                        </div>
                    </div>
                </div>

            </header>
        </div>

        <main class='layout__main'>

            <div class='intro'>
                <div class='intro__column intro-column'>
                    <div class='intro-column__title'>
                        Saubere Gedanken fangen
                        <br/>
                        mit<span class='intro-column__title-part'> sauberem Umfeld an</span>
                    </div>
                    <div class='intro-column__info'>
                        <div class='intro-column__info-svg-wrapper'>
                            <img
                                src="<%= require('./static/images/intro/three-drops.svg') %>"
                                alt='three-drops'
                                width='44px'
                                height='48px'
                            >
                        </div>
                        <div class='intro-column__info-text'>
                            führen Sie alle Arten von Reinigung
                            <br/>
                            in Ihrem Haus oder Büro durch
                        </div>
                    </div>
                    <div class='intro-column__buttons'>
                        <button class='button-oval'>
                            <span class='button-oval__text'>Bestellen</span>
                        </button>
                    </div>
                    <div class='intro-column__mail'>
                        <span class='intro-column__mail-text'>info@pavlova-reinigung.ch</span>
                    </div>
                </div>

                <div class='intro__images intro-images'>
                    <div class='intro-images__big-blue-circle-wrapper'>
                        <svg class='intro-images__big-blue-circle' viewBox="0 0 1363 1305" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse cx="681.5" cy="652.5" rx="681.5" ry="652.5" fill="#DAEDFE"/>
                        </svg>
                    </div>
                    <div class='intro-images__soap-bubble-big'>
                        <img
                            src="<%= require('./static/images/intro/soap-bubble-big.svg') %>"
                            alt='three-drops'
                            width='100%'
                            height='100%'
                        >
                    </div>
                    <div class='intro-images__soap-bubble-medium'>
                        <img
                            src="<%= require('./static/images/intro/soap-bubble-medium.svg') %>"
                            alt='three-drops'
                            width='100%'
                            height='100%'
                        >
                    </div>
                    <div class='intro-images__soap-bubble-small'>
                        <img
                            src="<%= require('./static/images/intro/soap-bubble-small.svg') %>"
                            alt='three-drops'
                            width='100%'
                            height='100%'
                        >
                    </div>
                    <div class='intro-images__blue-puddle'>
                        <img
                            src="<%= require('./static/images/intro/blue-puddle.svg') %>"
                            alt='three-drops'
                            width='100%'
                            height='100%'
                        >
                    </div>
                    <a href='#feedback' class='intro-images__push-button'>
                        <div class='push-button'>
                            <img
                                class='push-button__arrow'
                                src="<%= require('./static/images/intro/arrow.svg') %>"
                                alt='arrow'
                            >
                        </div>
                    </a>
                    <img
                        class='intro-images__woman'
                        src="<%= require('./static/images/intro/woman.png') %>"
                        alt='woman'
                    >
                </div>
            </div>

            <div class='info'>
                <div class='info__column'>
                    <div class='info__title'>
                        Über uns
                    </div>
                    <div class='info__pre-text'>
                        Eine große Sache
                        <br />
                        für Kleinigkeiten
                    </div>
                    <div class='info__text'>
                        <p>
                            <span class='info__text-company'>Pavlova - Reinigugng</span> ist nicht nur ein weiteres
                            <br />
                            Reinigungsunternehmen, sondern Profis,
                            <br />
                            die ihre Kunden seit vielen Jahren begeistern.
                            <br />
                            Sie können uns die Reinigung aller Räume
                            <br />
                            anvertrauen und das Ergebnis in kürzester Zeit
                            <br />
                            genießen!
                        </p>
                    </div>
                </div>

                <div class='info__arrow'>
                    <img
                        class='info__star-one'
                        src="<%= require('./static/images/info/star.svg') %>"
                        alt='star'
                    >
                    <div class='info__arrow-dashed-outer'>
                        <div class='info__arrow-dashed-wrapper'>
                            <div class='info__arrow-dashed-inner'>
                                <img
                                    src="<%= require('./static/images/info/arrow-dashed.svg') %>"
                                    alt='arrow-dashed'
                                    width='100%'
                                    height='100%'
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class='info__button-wrapper'>
                    <button class='button-oval'>
                        <span class='button-oval__text'>Genauer</span>
                    </button>
                </div>

                <div class='info__glove'>
                    <div class='info__glove-aqua-outer'>
                        <div class='info__glove-aqua-wrapper'>
                            <div class='info__glove-aqua'>
                                <img
                                    src="<%= require('./static/images/info/glove-aqua.png') %>"
                                    alt='glove-aqua'
                                    width='100%'
                                    height='100%'
                                >
                            </div>
                        </div>
                    </div>

                    <img
                        class='info__star-two'
                        src="<%= require('./static/images/info/star.svg') %>"
                        alt='star'
                    >
                </div>

            </div>

            <div class='slider'>
                <img
                    class='slider__star-one'
                    src="<%= require('./static/images/info/star.svg') %>"
                    alt='star'
                >

                <div class='slider__blur-circle'>
                </div>

                <div class='slider__title'>Unsere Dienstleistungen</div>
                <div class='slider__title-two'>Arten der Reinigung</div>
                
                <div class='slider__wrapper'>

                    <div class='slider__button swiper-button-prev'>
                        <svg class='slider__arrow slider__arrow-to-left' viewBox="0 0 41 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40.5712 4.83438C41.7563 2.32422 39.1899 -0.310591 36.6494 0.807976L2.37873 
                            15.8973C-0.00940323 16.9488 -0.00940323 20.3371 2.37873 21.3886L36.6494 36.478C39.1899
                            37.5965 41.7563 34.9617 40.5712 32.4516L34.6568 19.9237C34.274 19.1128 34.274 18.1731
                            34.6568 17.3622L40.5712 4.83438Z" fill="#339DFF"/>
                        </svg>   
                    </div>

                    <div class='slider__button swiper-button-next'>
                        <svg class='slider__arrow slider__arrow-to-right' viewBox="0 0 41 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.42867 32.1659C-0.756376 34.676 1.80997 37.3108 4.35044 36.1923L38.6212 21.1029C41.0093
                            20.0514 41.0093 16.6631 38.6212 15.6116L4.35044 0.522293C1.80996 -0.596272 -0.75638 2.03853 0.428666
                            4.54869L6.34307 17.0765C6.7259 17.8875 6.7259 18.8271 6.34307 19.638L0.42867 32.1659Z" fill="#339DFF"/>
                        </svg>
                    </div>

                    <div class='swiper'>
                        <div class='swiper-wrapper'>

                            <div class='slide swiper-slide'>
                                <div class='slide__wrapper'>
                                    <div class='slide__content'>
                                        <div class='slide__image-wrapper'>
                                            <img
                                                src="<%= require('./static/images/slider/mop.svg') %>"
                                                alt='mop'
                                                width='100%'
                                                height='100%'
                                            >
                                        </div>
        
                                        <div class='slide__name'>
                                            <span class='slide__name-text'>Haushalt Reinigung</span>
                                        </div>
        
                                        <div class='slide__text'>
                                            Reinigen Sie Ihr Haus, während
                                            <br />
                                            niemand zu Hause ist. Wir
                                            <br />
                                            arbeiten, Sie entspannen!
                                        </div>
        
                                        <button class='button-oval slide__button'>
                                            <span class='button-oval__text'>Erreichen</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class='slide swiper-slide'>
                                <div class='slide__wrapper'>
                                    <div class='slide__content'>
                                        <div class='slide__image-wrapper'>
                                            <img
                                                src="<%= require('./static/images/slider/vacuum-cleaner.svg') %>"
                                                alt='vacuum-cleaner'
                                                width='100%'
                                                height='100%'
                                            >
                                        </div>
        
                                        <div class='slide__name'>
                                            <span class='slide__name-text'>Büro Reinigung</span>
                                        </div>
        
                                        <div class='slide__text'>
                                            Wir kommen zu Ihnen ins Büro
                                            <br />
                                            und bringen Ordnung, um
                                            <br />
                                            noch angenehmer zu arbeiten
                                        </div>
        
                                        <button class='button-oval slide__button'>
                                            <span class='button-oval__text'>Erreichen</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class='slide swiper-slide'>
                                <div class='slide__wrapper'>
                                    <div class='slide__content'>
                                        <div class='slide__image-wrapper'>
                                            <img
                                                src="<%= require('./static/images/slider/glass-cleaning.svg') %>"
                                                alt='glass-cleaning'
                                                width='100%'
                                                height='100%'
                                            >
                                        </div>
        
                                        <div class='slide__name'>
                                            <span class='slide__name-text'>Fenster waschen</span>
                                        </div>
        
                                        <div class='slide__text'>
                                            Bewundern Sie die Welt vor
                                            <br />
                                            dem Fenster ist viel
                                            <br />
                                            angenehmer, wenn es von
                                            <br />
                                            unseren Experten gewaschen
                                        </div>
        
                                        <button class='button-oval slide__button'>
                                            <span class='button-oval__text'>Erreichen</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class='swiper-pagination'>
            
                        </div>

                    </div>

                </div>

            </div>

            <div class='employment'>
                <div class='employment__text'>
                    Schreib mir und erhalte
                    <br/>
                    <span class='employment__text-dreamjob'>einen Traumjob</span>
                </div>
                <div class='employment__button-wrapper'>
                    <button class='button-oval employment__button'>
                        <span class='button-oval__text'>Erreichen</span>
                    </button>
                </div>
                <div class='employment__glove-blue'>

                </div>
                <div class='employment__glove-yellow'>
                </div>
            </div>

            <div id='feedback' class='feedback'>
                <div class='feedback__info'>
                    <h3 class='feedback__title'>Kontakten</h3>
                    <span class='feedback__question'>Noch Fragen?</span>
                    <div class='feedback__text'>
                        Füllen Sie das Formular aus <br/> und kontaktieren Sie uns direkt!
                    </div>
                    <img
                        class='feedback__star-one'
                        src="<%= require('./static/images/info/star.svg') %>"
                        alt='star'
                    >
                </div>

                <div class='feedback__arrow'>
                    <div class='feedback__arrow-wrapper'>
                        <div class='feedback__arrow-inner'></div>
                        <img
                            class='feedback__arrow-dashed-tip'
                            src="<%= require('./static/images/feedback/arrow-dashed-tip.svg') %>"
                            alt='arrow-dashed-tip'
                            style="position: absolute; width: 100%; height: 100%;"
                        />
                    </div>
                </div>

                <div class='feedback__card'>
                    <div class='feedback__card-wrapper'>
                        <div class='feedback__form-wrapper'>
                            <div class='feedback__form'>

                                <div class='feedback__form-svg-wrapper'>
                                    <img
                                        src="<%= require('./static/images/feedback/cleaning-tools.svg') %>"
                                        alt='cleaning-tools'
                                        width='95px'
                                        height='91px'
                                    >
                                </div>

                                <form class='form' id='form' action='#'>
                                    <div class='form__loader-wrapper'>
                                        <div class='preloader'><div></div><div></div><div></div><div></div></div>
                                    </div>
                                    <div class='form__inputs-wrapper'>
                                        <div class='form__input-wrapper form__name-input-wrapper'>
                                            <input 
                                                class='form__input _req' 
                                                type='text' 
                                                placeholder='Name'
                                                maxlength='50'
                                            >
                                        </div>
                                        <div class='form__gap form__gap_name'>
                                            <span class='form__blank-input-text'>
                                                *Поле обязательно
                                            </span>
                                        </div>

                                        <div class='form__input-wrapper form__email-input-wrapper'>
                                            <input 
                                                class='form__input _req form__email-input' 
                                                type='text' 
                                                placeholder='E-mail'
                                                maxlength='50'
                                            >
                                        </div>
                                        <div class='form__gap form__gap_email'>
                                            <span class='form__blank-input-text'>
                                                *Поле обязательно
                                            </span>
                                        </div>
                                        
                                        <label class='form__textarea-wrapper'>
                                            <textarea
                                                type='text'
                                                class='form__textarea'
                                                id='form-textarea'
                                                placeholder='Nachricht'
                                                maxlength='250'
                                                minlength='2'
                                            ></textarea>
                                        </label>
                                        <div class='form__gap form__gap_message'>
                                            <span id='character-counter' class='form__character-counter'>
                                                0 / 250
                                            </span>
                                        </div> 
                                    </div>
                                    <div class='form__button-wrapper'>
                                        <button type='submit' class='button-oval'>
                                            <span class='button-oval__text'>Senden</span>
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class='feedback__star-two-wrapper'>
                    <img
                        class='feedback__star-two'
                        src="<%= require('./static/images/info/star.svg') %>"
                        alt='star'
                    >
                </div>

            </div>

        </main>

        <div class='layout__footer'>
            <footer class='footer'>
                <div class='footer__contacts'>
                    <div class='footer__contact'>
                        <div class='footer__contact-image'>
                            <img
                                src="<%= require('./static/images/footer/phone-call.svg') %>"
                                alt='phone-number'
                                width='75px'
                                height='70px'
                            >
                        </div>
                        <span class='footer__contact-text'>+ 41 76 431 57 61</span>
                    </div>
                    <div class='footer__contact'>
                        <div class='footer__contact-image'>
                            <img
                                src="<%= require('./static/images/footer/gmail.svg') %>"
                                alt='phone-number'
                                width='75px'
                                height='70px'
                            >
                        </div>
                        <span class='footer__contact-text'>info@pavlova-reinigung.ch</span>
                    </div>
                    <div class='footer__contact'>
                        <div class='footer__contact-image'>
                            <img
                                src="<%= require('./static/images/footer/placeholder.svg') %>"
                                alt='phone-number'
                                width='75px'
                                height='70px'
                            >
                        </div>
                        <span class='footer__contact-text'>Lorem Ipsum, Dolor, 10</span>
                    </div>
                </div>

                <div class='footer__logo'>

                </div>

                <div class='footer__button-wrapper'>
                    <button class='button-oval footer__button'>
                        <span class='button-oval__text'>Erreichen</span>
                    </button>
                </div>

                <div class='footer__image'>
                    <img
                        src="<%= require('./static/images/intro/soap-bubble-medium.svg') %>"
                        alt='phone-number'
                        width='100%'
                        height='100%'
                    >
                </div>
            </footer>
        </div>

    </div>
</body>
</html>